<div class="text-center">
  <h2>Your Matches</h2>
  <% if @matches %>
    <% @matches.each do |match| %>
      <h4><%= match.name %></h4>
    <% end %>
  <% else %>
    <h4>You have no matches at this time.</h4>
  <% end %>

  <%= link_to "Find Pairs", relationships_path, class: "btn btn-info btn-lg" %>
</div>
