<div class="text-center">
  <h2>Your Matches</h2>
    <div class="row">
      <% if @matches.empty? %>
        <h4>You have no matches at this time.</h4>
      <% else %>
        <% @matches.each do |match| %>
        <div class="col-sm-6">
          <h4><%= match.name %></h4>
          <p><%= image_tag(match.image, class: "profile-pic") %></p>
        </div>
        <% end %>
    </div>
    <% end %>

  <div class="row">
    <%= link_to "Find Pairs", relationships_path, class: "btn btn-info btn-lg" %>
  </div>
</div>
