<div class="jumbotron text-center">
  <h1>Find Your Pair</h1>
  <div class="btn-group">
    <%= link_to "Start Pairing", new_session_path, class: "btn btn-success" %>
    <%= link_to "Create An Account", new_session_path, class: "btn btn-default" %>
  </div>
</div>
