<div class="text-center jumbotron" id="hero-image">
  <h1>Find Your Pair</h1>
  <div class="btn-group">
    <%= link_to "Start Pairing", '/auth/github', class: "btn btn-success" %>
    <%= link_to "Create An Account", '/auth/github', class: "btn btn-default" %>
  </div>
</div>
