body {
  padding-top: 80px;
}
h1 {
  text-align: center;
  padding-bottom: 30px;
}

h2{
  padding-bottom: 20px;
}

/*#hero-image {
  background: url("<%= asset_path("muppets.jpg")%>");
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  background-color: #d3d3d3;
  width: 100%;
  height: auto;
}*/

.profile-pic {
  width: 300px;
  height: auto;
  border-radius: 50px;
  padding-bottom: 20px;
}

.match-form {
  padding-bottom: 15px;
}

#pair-finder {
  margin-top: 30px;
}
